<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ request.locale.direction }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_background }}">
    <title>{{ shop.name }}</title>
    {{ content_for_header }}
    <style>
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ settings.type_heading_font | font_face: font_display: 'swap' }}

      :root {
        --font-body: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-heading: {{ settings.type_heading_font.family }}, {{ settings.type_heading_font.fallback_families }};
        --color-background: {{ settings.color_background }};
        --color-foreground: {{ settings.color_foreground }};
        --color-accent: {{ settings.color_accent }};
        --color-button: {{ settings.color_button }};
        --color-button-text: {{ settings.color_button_text }};
      }
    </style>
    {{ 'theme.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="template-password">
    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
  </body>
</html>
